.l-closing {
    position: relative;

    padding: 150px 0;

    text-align: center;

    background-image: url(#{$path-image}/closing-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &:before {
        position: absolute;
        top: -85px;
        left: 50%;

        display: block;

        width: 1px;
        height: 170px;

        content: '';
        transform: rotate(180deg) translateX(-50%);

        background: linear-gradient(#fff 50%, #000 50%);
    }
}

.l-closing__title {
    font-size: 20px;
    font-weight: bold;

    position: relative;

    display: inline-block;

    &:before,
    &:after {
        position: absolute;
        top: 0;
        left: -50px;

        display: block;

        width: 1px;
        height: 40px;

        content: '';
        transform: rotate(-25deg);

        background-color: #000;
    }
    &:after {
        right: -50px;
        left: auto;

        transform: rotate(25deg);
    }
}

.l-closing__link {
    width: 950px;
    margin: 70px auto 170px;

    box-shadow: 0 10px 40px 10px #cdc099;
}

.l-closing__list {
    list-style-type: none;
}

.l-closing__item {
    width: 31%;

    .decorated-link {
        font-size: 16px;

        margin-top: 0;
        padding: 25px 0;

        &:before {
            right: 20px;

            width: 15px;
            height: 15px;
        }
        &:after {
            right: 27px;

            width: 30px;
        }
    }
}
