.l-container {
    position: relative;

    width: $site-size;
    margin: 0 auto;
    padding: 0 30px;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        padding: 0 20px;
    }

    &.l-container--wide {
        width: 1300px;
    }
}
