.l-intro {
    padding: 100px 0 750px;

    background-image: url(#{$path-image}/intro-bg.png);
    background-repeat: repeat-y;
    background-position: center 30%;
    background-size: cover;

    @include max-screen($breakpoint-mobile) {
        padding-top: 0;
        padding-bottom: 350px;
    }
}
