.l-message {
    padding-bottom: 140px;

    text-align: center;

    background-image: url(#{$path-image}/message-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include max-screen($breakpoint-mobile) {
        padding-bottom: 70px;
    }

    .section-title {
        position: relative;
        top: -35px;

        @include max-screen($breakpoint-mobile) {
            top: -20px;
        }
    }
}
.l-message__content {
    margin-top: 100px;

    @include max-screen($breakpoint-mobile) {
        margin-top: 60px;
    }

    h3 {
        font-size: 42px;
        line-height: 1.8;

        margin-bottom: 90px;

        letter-spacing: .3em;

        @include max-screen($breakpoint-mobile) {
            font-size: 27px;

            margin-bottom: 60px;
        }
    }
    p {
        line-height: 2.5;

        margin-bottom: 30px;

        letter-spacing: .2em;

        @include max-screen($breakpoint-mobile) {
            font-size: 14px;

            letter-spacing: .1em;
        }
    }
}
