.l-overview {
    height: 1580px;
    margin: 0 auto;

    text-align: center;

    background-image: url(#{$path-image}/overview-bg.jpg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: contain;

    @include max-screen($breakpoint-mobile) {
        height: 100%;
    }
}

.l-overview__content {
    position: relative;
    top: -650px;

    @include max-screen($breakpoint-mobile) {
        top: -250px;
    }
}

.l-overview__eyecatch {
    width: 95%;
    height: 616px;
    margin: 110px auto 0;

    background-image: url(#{$path-image}/overview.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 25px 50px -27px $color-primary;

    @include max-screen($breakpoint-mobile) {
        width: 92%;
        height: 205px;
        margin-top: 80px;

        background-image: url(#{$path-image}/overview-sp.jpg);
    }
}

.l-overview__description {
    font-weight: bold;
    line-height: 2.5;

    position: relative;

    margin-top: -80px;
    padding: 135px 180px;

    text-align: center;
    letter-spacing: .1em;

    background-image: url(#{$path-image}/overview-border.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    @include max-screen($breakpoint-mobile) {
        font-size: 14px;

        margin-top: -105px;
        padding: 170px 39px 150px;

        letter-spacing: 0;

        background-image: url(#{$path-image}/overview-border-sp.png);
        background-size: 90%;
    }

    &:before {
        position: absolute;
        bottom: -50px;
        left: 50%;

        display: block;

        width: 1px;
        height: 100px;

        content: '';
        transform: translateX(-50%);

        background-color: #fff;

        @include max-screen($breakpoint-mobile) {
            bottom: 15px;

            height: 60px;
        }
        @include max-screen(376px) {
            bottom: 40px;
        }
    }

    &:after {
        position: absolute;
        bottom: 50px;
        left: 50%;

        width: 10px;
        height: 10px;

        content: '';
        transform: translateX(-50%);

        border-radius: 50%;
        background-color: #fff;

        @include max-screen($breakpoint-mobile) {
            bottom: 75px;
        }
        @include max-screen(376px) {
            bottom: 100px;
        }
    }
}
