.l-overview {
    height: 1680px;
    margin: 0 auto;

    text-align: center;

    background-image: url(#{$path-image}/overview-bg.jpg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: contain;
}

.l-overview__content {
    position: relative;
    top: -650px;
}

.l-overview__eyecatch {
    width: 95%;
    height: 616px;
    margin-top: 110px;

    box-shadow: 0 25px 50px -27px $color-primary;

    object-fit: cover;
}

.l-overview__description {
    font-weight: bold;
    line-height: 2.5;

    position: relative;

    margin-top: -50px;
    padding: 135px 200px;

    text-align: center;
    letter-spacing: .1em;

    background-image: url(#{$path-image}/overview-border.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    &:before {
        position: absolute;
        bottom: -70px;
        left: 50%;

        display: block;

        width: 1px;
        height: 100px;

        content: '';
        transform: translateX(-50%);

        background-color: #fff;
    }

    &:after {
        position: absolute;
        bottom: 30px;
        left: 50%;

        width: 9px;
        height: 9px;

        content: '';
        transform: translateX(-50%);

        border-radius: 50%;
        background-color: #fff;
    }
}
