.l-sponsors {
    padding: 40px 0 180px;

    @include max-screen($breakpoint-mobile) {
        padding: 0 0 120px;
    }
}

.l-sponsors__content {
    width: 970px;
    margin: 0 auto;

    text-align: center;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
    }
}

.l-sponsors__title {
    font-size: 33px;

    letter-spacing: .2em;

    @include max-screen($breakpoint-mobile) {
        font-size: 20px;
    }
}

.l-sponsors__list {
    width: 970px;
    margin: 90px auto 0;

    list-style-type: none;

    justify-content: space-evenly;
    @include max-screen($breakpoint-mobile) {
        width: 100%;
        margin-top: 40px;
    }
}

.l-sponsors__item {
    width: 25%;
    margin-bottom: 80px;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        margin-bottom: 30px;
        padding: 0 30px;
    }

    // &:nth-child(4) {
    //     padding-left: 100px;

    //     @include max-screen($breakpoint-mobile) {
    //         padding-left: 30px;
    //     }
    // }
    // &:last-child {
    //     padding-right: 100px;

    //     @include max-screen($breakpoint-mobile) {
    //         padding-right: 30px;
    //     }
    // }

    &:not(:first-child) {
        @include max-screen($breakpoint-mobile) {
            .sponsor {
                img {
                    height: 70px;
                }
            }
        }
    }
}

.l-sponsors__note {
    font-size: 15px;

    margin-top: 30px;

    letter-spacing: .2em;

    @include max-screen($breakpoint-mobile) {
        font-size: 11px;

        margin-top: 20px;
    }
}

.l-sponsors__link {
    margin-top: 30px;
}
