.l-sponsors {
    padding: 40px 0 180px;
}

.l-sponsors__content {
    width: 970px;
    margin: 0 auto;

    text-align: center;
}

.l-sponsors__title {
    font-size: 33px;

    letter-spacing: .2em;
}

.l-sponsors__list {
    width: 860px;
    margin: 90px auto 0;

    list-style-type: none;
}

.l-sponsors__item {
    width: 30%;
}

.l-sponsors__note {
    font-size: 15px;

    margin-top: 30px;

    letter-spacing: .2em;
}

.l-sponsors__link {
    margin-top: 110px;
}
