.divider {
    position: relative;

    width: 440px;
    margin: 125px auto;
    padding: 15px 0;

    text-align: center;

    border-radius: 50px;

    @include max-screen($breakpoint-mobile) {
        width: 60%;
        margin: 60px auto;
        padding: 7px 0 5px;
    }

    &:before,
    &:after {
        position: absolute;
        top: 50%;
        left: -260px;

        display: block;

        width: 250px;

        content: '';
        transform: translateY(-50%);

        border-width: 1px;
        border-style: solid;

        @include max-screen($breakpoint-mobile) {
            left: -53px;

            width: 53px;
        }
    }
    &:after {
        right: -260px;
        left: auto;

        @include max-screen($breakpoint-mobile) {
            right: -53px;
        }
    }

    // MODIFIERS
    &.divider--primary {
        background-color: $color-primary;
        box-shadow: 0 0 0 7px #f9f9f9,
        0 0 0 8px $color-primary;

        &:before,
        &:after {
            border-color: $color-primary;
        }
    }
    &.divider--secondary {
        background-color: #52abe6;
        box-shadow: 0 0 0 7px #f9f9f9,
        0 0 0 8px #52abe6;

        &:before,
        &:after {
            border-color: #52abe6;
        }
    }
    &.divider--full {
        &:before,
        &:after {
            left: -80%;

            width: 80%;

            @include max-screen($breakpoint-mobile) {
                left: -53px;

                width: 53px;
            }
        }
        &:after {
            right: -80%;
            left: auto;

            @include max-screen($breakpoint-mobile) {
                right: -53px;

                width: 53px;
            }
        }
    }
}

.divider__title {
    font-size: 22px;

    letter-spacing: .2em;

    color: #fff;

    @include max-screen($breakpoint-mobile) {
        font-size: 15px;
    }
}
