.flow {
    position: relative;

    border: 1px solid $color-primary;
    border-radius: 15px;

    @include max-screen($breakpoint-mobile) {
        display: block;

        border: none;
        border-radius: 0;
    }

    &.flow--doctor {
        margin-top: 100px;

        @include max-screen($breakpoint-mobile) {
            margin-top: 60px;
        }

        .flow__details {
            img {
                width: 28px;
            }
        }

        .flow__list {
            position: relative;
            left: -80px;

            justify-content: flex-end;
            @include max-screen($breakpoint-mobile) {
                left: auto;

                justify-content: initial;
            }

            li {
                min-width: 180px;
                margin-right: 55px;

                @include max-screen($breakpoint-mobile) {
                    min-width: 98px;
                    margin-right: 0;
                }

                &:nth-child(3) {
                    margin-right: 0;
                }
                &:nth-child(4) {
                    order: 5;
                    @include max-screen($breakpoint-mobile) {
                        order: 4;
                    }
                }
                &:nth-child(5) {
                    margin-right: 55px;

                    order: 4;
                    @include max-screen($breakpoint-mobile) {
                        margin-right: 0;

                        order: 5;
                    }
                }
            }
        }
    }
}

.flow__diagram {
    position: absolute;
    top: 130px;
    left: 45px;

    width: 936px;
    height: 262px;

    @include max-screen($breakpoint-mobile) {
        display: none;
    }
}

.flow__details {
    width: 17%;
    margin-top: -150px;
    padding-left: 35px;

    text-align: center;

    @include max-screen($breakpoint-mobile) {
        display: flex;

        width: 75%;
        margin: 0 auto;
        padding-left: 0;

        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    img {
        position: relative;

        width: 40px;
        height: 95px;
        margin-bottom: 30px;
        margin-left: -20px;

        @include max-screen($breakpoint-mobile) {
            z-index: 1;

            width: auto;
            height: 62px;
            margin-bottom: 20px;
            margin-left: 0;
        }
    }
}

.flow__speech {
    position: relative;

    margin-bottom: 40px;

    @include max-screen($breakpoint-mobile) {
        order: 2;
    }

    &:before,
    &:after {
        position: absolute;
        top: 0;
        left: -10px;

        display: block;

        width: 10px;
        height: 100%;

        content: '';

        background-color: #fff;

        @include max-screen($breakpoint-mobile) {
            display: none;
        }
    }
    &:after {
        right: -10px;
        left: auto;
    }

    span {
        font-size: 18px;
        font-weight: bold;

        position: relative;

        display: block;

        padding: 30px 0;

        @include max-screen($breakpoint-mobile) {
            font-size: 15px;

            padding: 22px 28px;
        }
    }
}

.flow__speech-bg {
    position: absolute;

    width: 100%;
    height: 100%;

    background-image: url(#{$path-image}/overview-bg.jpg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: 800%;

    filter: saturate(40%) brightness(1.1);

    &:after {
        position: absolute;
        bottom: -10px;
        left: 50%;

        display: inline-block;

        width: 0;
        height: 0;

        content: '';
        transform: translateX(-50%);

        border-width: 10px 6px 0 6px;
        border-style: solid;
        border-color: #f9e4c5 transparent transparent transparent;

        filter: saturate(160%) brightness(.93);
        @include max-screen($breakpoint-mobile) {
            top: 50%;
            left: -10px;

            transform: translateY(-50%);

            border-width: 6px 10px 6px 0;
            border-color: transparent #f9e4c5 transparent transparent;

            filter: saturate(230%) brightness(.92);
        }
    }
}

.flow__details-content {
    @include max-screen($breakpoint-mobile) {
        position: relative;

        order: 1;

        &:after {
            position: absolute;
            top: 55px;
            left: 50%;

            display: block;

            width: 60px;
            height: 13px;

            content: '';
            transform: translateX(-50%);

            border-radius: 50%;
            background-color: #ffb30c;
        }
    }
}

.flow__label {
    font-size: 18px;
    font-weight: bold;

    letter-spacing: .2em;

    @include max-screen($breakpoint-mobile) {
        font-size: 12px;
    }
}

.flow__number {
    font-family: $font-crimson;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;

    position: relative;
    top: 55px;

    letter-spacing: .2em;

    color: $color-primary;

    @include max-screen($breakpoint-mobile) {
        display: none;
    }

    span {
        font-size: 58px;

        display: block;

        margin-bottom: -20px;
    }
}

.flow__list-wrapper {
    width: 80%;

    @include max-screen($breakpoint-mobile) {
        width: 98%;
        margin: 28px -15px 60px 20px;
        padding: 15px 0 15px 20px;

        border-radius: 5px;
        background: #fff;
        box-shadow: 0 20px 50px 5px #ecddc1;
    }
}

.flow__list {
    width: 100%;
    padding: 70px 0 40px;

    list-style-type: none;

    counter-reset: flow;

    justify-content: initial;
    @include max-screen($breakpoint-mobile) {
        margin: 0;
        padding: 0;
    }

    li {
        font-weight: bold;

        position: relative;

        display: flex;

        min-width: 110px;
        height: 90px;
        margin-right: 35px;
        margin-bottom: 90px;
        padding: 0 25px;

        text-align: center;

        border-radius: 15px;
        background-image: url(#{$path-image}/overview-bg.jpg);
        background-repeat: repeat-y;
        background-position: center center;
        background-size: 900%;

        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        @include max-screen($breakpoint-mobile) {
            font-size: 15px;

            min-width: 100px;
            height: auto;
            margin-right: 0;
            margin-bottom: 0;
            padding: 29px 15px;

            border-radius: 8px;
        }

        &:nth-child(5) {
            margin-right: 0;
        }
        &:nth-child(6) {
            margin-right: 0;

            order: 10;
            @include max-screen($breakpoint-mobile) {
                order: 6;
            }
        }
        &:nth-child(7) {
            order: 9;
            @include max-screen($breakpoint-mobile) {
                order: 7;
            }
        }
        &:nth-child(8) {
            order: 8;
        }
        &:nth-child(9) {
            order: 7;
            @include max-screen($breakpoint-mobile) {
                order: 9;
            }
        }
        &:nth-child(10) {
            order: 6;
            @include max-screen($breakpoint-mobile) {
                order: 10;
            }
        }

        &:before {
            font-family: $font-crimson;
            font-size: 20px;
            font-weight: bold;
            font-style: italic;
            line-height: 1.2;

            position: absolute;
            top: -15px;
            left: -15px;

            width: 35px;
            height: 35px;

            content: counter(flow) '.';
            counter-increment: flow;
            text-align: center;

            color: #000;
            border: 5px solid $color-primary;
            border-radius: 50%;
            background-color: #fff;

            @include max-screen($breakpoint-mobile) {
                font-size: 16px;

                width: 27px;
                height: 27px;

                border-width: 3px;
            }
        }
    }

    .slick-list {
        @include max-screen($breakpoint-mobile) {
            // margin: 0 -15px;
            padding: 25px 15px;
        }
    }
    .slick-slide {
        @include max-screen($breakpoint-mobile) {
            margin-right: 30px;
        }
    }
}

.flow__arrows {
    display: none;

    @include max-screen($breakpoint-mobile) {
        display: flex;

        width: 95%;
    }
}

.flow__arrow {
    position: relative;

    display: block;

    width: 12%;
    height: 35px;

    border: 1px solid #fff;
    border-radius: 50%;
    background-color: $color-primary;

    &.flow__arrow--prev {
        &:before {
            position: absolute;
            top: 56%;
            left: 40%;

            display: block;

            width: 12px;
            height: 12px;

            content: '';
            transform: rotate(45deg) translate(-50%, -50%);

            border-bottom: 2px solid #fff;
            border-left: 2px solid #fff;
        }
    }
    &.flow__arrow--next {
        &:before {
            position: absolute;
            top: 56%;
            right: 40%;
            left: auto;

            display: block;

            width: 12px;
            height: 12px;

            content: '';
            transform: rotate(45deg) translate(-50%, -50%);

            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
        }
    }

    &.slick-disabled {
        background-color: #e3e2e2;
    }
}

.flow__progress {
    @include max-screen($breakpoint-mobile) {
        position: relative;

        width: 76%;
        height: 4px;

        background-color: #adadad;
    }
}

.flow__progress-marker {
    position: absolute;
    top: 50%;
    left: 0;

    display: block;

    width: 13vw;
    height: 4px;

    transition: left $duration $easing;
    transform: translateY(-50%);

    background-color: $color-primary;
}

.flow__steps {
    font-family: $font-crimson;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;

    position: relative;
    left: -20px;

    text-align: center;
    letter-spacing: .05em;

    color: $color-primary;

    span {
        font-size: 15px;
    }
}
