.footer {
    padding: 80px 0;

    text-align: center;
    letter-spacing: .05em;
}
.footer__logo {
    display: block;

    margin-bottom: 40px;

    img {
        width: 235px;
        height: auto;
    }
}
.footer__privacy {
    font-size: 13px;

    display: inline-block;

    margin-bottom: 45px;

    transition: color $duration $easing;

    color: $base-font-color;

    &:hover {
        color: $color-primary;
    }
}
.footer__copyright {
    font-size: 12px;

    display: block;
}
