.header {
    position: absolute;
    z-index: 15;

    width: 100%;

    transition: background-color $duration $easing;


    &.is-open {
        .header__logo,
        .header__list {
            display: none;
        }
    }
    &.is-sticky {
        position: fixed;
        top: 0;
        left: 0;

        background-color: #fff;

        .header__inner {
            padding-top: 18px;
            padding-bottom: 18px;
        }

        .header__logo-img--primary {
            display: none;
        }
        .header__logo-img--sticky {
            display: block;

            @include max-screen($breakpoint-mobile) {
                display: none;
            }
        }
    }
}

.header__inner {
    padding: 40px 55px;

    transition: padding $duration $easing;

    align-items: initial;
    @include max-screen($breakpoint-mobile) {
        padding: 15px;
    }
}

.header__logo {
    display: block;

    height: auto;

    img {
        @include max-screen($breakpoint-mobile) {
            width: 40%;
        }
    }
}

.header__logo-img {
    &.header__logo-img--primary {
        width: 106px;
        height: auto;
    }
    &.header__logo-img--sticky {
        display: none;

        width: 161px;
    }
}

.header__list {
    margin-top: 15px;

    list-style-type: none;

    align-items: initial;
    @include max-screen($breakpoint-mobile) {
        display: none;
    }

    li {
        position: relative;

        &:nth-child(2) {
            img {
                width: 32px;
            }
        }

        &:not(:last-child) {
            margin-right: 55px;

            &:after {
                position: absolute;
                top: 12px;
                right: -23px;

                display: block;

                width: 1px;
                height: 18px;

                content: '';
                transform: translateY(-50%) rotate(35deg);

                background-color: #000;
            }
        }

        img {
            width: 25px;
            height: auto;
            margin-right: 15px;
        }
        span {
            font-weight: bold;

            letter-spacing: .2em;

            color: $base-font-color;
        }
    }
}

.header__hamburger {
    margin-top: 15px;

    &.is-open {
        position: absolute;
        right: 55px;

        @include max-screen($breakpoint-mobile) {
            right: 15px;
        }

        span {
            &:first-child {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                transform: rotate(-45deg) translate(5px, -5px);
            }
            &:last-child {
                display: none;
            }
        }
    }

    a {
        display: block;

        &:hover {
            span {
                background-color: $color-primary;
            }
        }
    }

    span {
        display: block;

        width: 34px;
        height: 2px;
        margin-bottom: 5px;

        transition: all $duration $easing;

        background-color: #000;

        &:last-child {
            width: 20px;
            height: 1px;
            margin-bottom: 0;
            margin-left: auto;

            @include max-screen($breakpoint-mobile) {
                height: 2px;
            }
        }
    }
}
