.header {
    position: absolute;
    z-index: 1;

    width: 100%;
    padding: 40px 55px;

    align-items: initial;
    @include max-screen($breakpoint-mobile) {
        padding: 15px;
    }
}

.header__logo {
    display: block;

    img {
        width: 90%;
        height: auto;

        @include max-screen($breakpoint-mobile) {
            width: 40%;
        }
    }
}

.header__list {
    position: relative;
    top: 15px;

    list-style-type: none;

    align-items: initial;
    @include max-screen($breakpoint-mobile) {
        display: none;
    }

    li {
        position: relative;

        &:nth-child(2) {
            img {
                width: 32px;
            }
        }

        &:not(:last-child) {
            margin-right: 55px;

            &:after {
                position: absolute;
                top: 12px;
                right: -23px;

                display: block;

                width: 1px;
                height: 18px;

                content: '';
                transform: translateY(-50%) rotate(35deg);

                background-color: #000;
            }
        }

        img {
            width: 25px;
            height: auto;
            margin-right: 15px;
        }
        span {
            font-weight: bold;

            letter-spacing: .2em;

            color: $base-font-color;
        }
    }
}
