.hero {
    position: relative;

    height: 100vh;

    -webkit-transition: -webkit-filter 1.5s $easing 1.5s;
            transition: opacity 1s $easing,
    filter 1.5s $easing 1.5s;

    opacity: 0;
    background-image: url(#{$path-image}/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    filter: blur(10px);
    @include max-screen($breakpoint-mobile) {
        min-height: 693px;

        background-image: url(#{$path-image}/hero-bg-sp.jpg);
    }

    &.is-shown {
        opacity: 1;

        filter: none;

        .hero__left,
        .hero__scroll {
            opacity: 1;
        }
    }
}

.hero__content {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    text-align: center;

    @include max-screen($breakpoint-mobile) {
        width: 85%;
    }
}

.hero__left {
    position: absolute;
    top: 47%;
    left: 60px;

    @include max-screen($breakpoint-mobile) {
        top: auto;
        bottom: 55px;
        left: 0;

        width: 100%;
    }

    small {
        font-size: 10px;

        position: relative;
        left: -145px;

        display: block;

        transform: rotate(90deg);
        letter-spacing: .2em;

        @include max-screen($breakpoint-mobile) {
            font-size: 8px;

            top: 120px;
            left: 0;

            transform: none;
            text-align: center;
        }
    }
}

.hero__icons {
    position: relative;
    bottom: -200px;
    left: -10px;

    list-style-type: none;

    @include max-screen($breakpoint-mobile) {
        bottom: 0;
        left: 0;

        padding-left: 15px;
    }

    li {
        display: block;

        margin-bottom: 10px;

        a {
            color: $base-font-color;

            &:hover {
                i {
                    color: $color-primary;
                }
            }

            i {
                transition: color .2s $easing;
            }
            img {
                transition: transform .2s $easing;
            }
        }

        img {
            width: 22px;
            height: 20px;
            margin-left: -3px;

            object-fit: contain;
        }

        &:last-child {
            a {
                &:hover {
                    img {
                        display: block;

                        transform: translateX(10px);
                    }
                }
            }
        }
    }
}

.hero__title {
    img {
        width: 271px;

        @include max-screen($breakpoint-mobile) {
            width: 175px;
        }
    }
}

.hero__subtitle {
    font-family: 'Allura', cursive;
    font-size: 63px;

    margin-top: 0;

    letter-spacing: .07em;

    color: $color-primary;

    @include max-screen($breakpoint-mobile) {
        font-size: 41px;
    }

    &:first-letter {
        margin-right: -5px;
    }
}

.hero__description {
    font-size: 17px;
    font-weight: bold;

    margin-top: 70px;
    padding: 20px 50px;

    letter-spacing: .2em;

    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 15px 50px 1px rgba(220,220,220,1);

    @include max-screen($breakpoint-mobile) {
        font-size: 14px;

        margin-top: 30px;
        padding: 15px 17px;

        letter-spacing: .06em;
    }
}

.hero__scroll {
    font-family: $font-crimson;
    font-weight: bold;

    position: absolute;
    right: 60px;
    bottom: 0;
    bottom: 180px;

    display: block;

    transform: rotate(-90deg);
    letter-spacing: .1em;

    color: $base-font-color;

    @include max-screen($breakpoint-mobile) {
        display: none;
    }

    &:before {
        position: absolute;
        top: 50%;
        left: -168px;

        width: 140px;
        height: 1px;

        content: '';
        animation: scroll-line 2s ease infinite;

        background-color: #000;
    }
}

.hero__left,
.hero__scroll {
    transition: all 1s $easing 2.5s;

    opacity: 0;
}

@keyframes scroll-line {
    from {
        width: 140px;
    }
    to {
        width: 0;
    }
}
