.hero {
    position: relative;

    height: 100vh;

    background-image: url(#{$path-image}/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include max-screen($breakpoint-mobile) {
        background-image: url(#{$path-image}/hero-bg-sp.jpg);
    }
}

.hero__content {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    text-align: center;

    @include max-screen($breakpoint-mobile) {
        position: relative;

        padding: 0 25px;
    }
}

.hero__left {
    position: absolute;
    top: 47%;
    left: 60px;

    @include max-screen($breakpoint-mobile) {
        top: auto;
        bottom: 25px;
        left: 0;

        width: 100%;
    }

    small {
        font-size: 10px;

        position: relative;
        left: -145px;

        display: block;

        transform: rotate(90deg);
        letter-spacing: .2em;

        @include max-screen($breakpoint-mobile) {
            font-size: 8px;

            top: 120px;
            left: 0;

            transform: none;
            text-align: center;
        }
    }
}

.hero__icons {
    position: relative;
    bottom: -200px;
    left: -10px;

    list-style-type: none;

    @include max-screen($breakpoint-mobile) {
        bottom: 0;
        left: 0;

        padding-left: 15px;
    }

    li {
        display: block;

        margin-bottom: 10px;

        a {
            color: $base-font-color;
        }

        img {
            width: 22px;
            height: 20px;
            margin-left: -3px;

            object-fit: contain;
        }
    }
}

.hero__title {
    font-family: $font-asago;
    font-size: 94px;
    font-weight: normal;

    margin-right: -1em;

    letter-spacing: 1em;

    @include max-screen($breakpoint-mobile) {
        font-size: 65px;

        position: relative;
        top: 0;
        left: 50%;

        display: block;

        width: 260px;
        margin: 0 auto;

        transform: translateX(-50%);
    }

    &:before {
        font-family: $font-asago;
        font-size: 19px;
        line-height: 1.7;

        position: absolute;
        top: 20%;
        left: 52%;

        width: 80px;

        content: 'たび \A かな';
        transform: translate(-50%, -50%);
        letter-spacing: 1em;

        @include max-screen($breakpoint-mobile) {
            font-size: 14px;

            top: 50%;
            left: 40%;
        }
    }
}

.hero__subtitle {
    font-family: 'Allura', cursive;
    font-size: 63px;

    margin-top: -35px;

    letter-spacing: .07em;

    color: $color-primary;

    @include max-screen($breakpoint-mobile) {
        font-size: 41px;

        margin-top: 0;
    }

    &:first-letter {
        margin-right: -5px;
    }
}

.hero__description {
    font-size: 17px;
    font-weight: bold;

    margin-top: 85px;
    padding: 20px 50px;

    letter-spacing: .2em;

    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 15px 50px 1px rgba(220,220,220,1);

    @include max-screen($breakpoint-mobile) {
        font-size: 14px;

        margin-top: 30px;
        padding: 15px 20px;

        letter-spacing: .13em;
    }
}
