.intro {
    position: relative;

    margin-top: -150px;
    padding: 100px 200px 160px;

    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 25px 50px 0 #f6e9dc;

    @include max-screen($breakpoint-mobile) {
        margin: -40px 15px 0;
        padding: 20px 20px 145px;

        border-radius: 5px;
    }
}

.intro__description {
    line-height: 2.5;

    margin-top: 70px;

    text-align: center;
    letter-spacing: .1em;

    @include max-screen($breakpoint-mobile) {
        font-size: 14px;

        margin-top: 50px;

        text-align: left;
        letter-spacing: 0;
    }
}

.intro__author {
    position: absolute;
    right: 80px;
    bottom: 70px;

    letter-spacing: .2em;

    @include max-screen($breakpoint-mobile) {
        font-size: 14px;

        right: 20px;
        bottom: 60px;
    }
}
