.map {
    position: relative;

    border-radius: 20px;
    background-image: url(#{$path-image}/overview-bg.jpg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: contain;
    box-shadow: 0 20px 40px 15px #f7f2eb;
}

.map__border {
    &.map__border--horizontal {
        position: absolute;
        top: 3.5%;
        left: 3.5%;

        width: 93%;
        height: 93%;

        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
    &.map__border--vertical {
        position: absolute;
        top: 6%;
        left: 2%;

        width: 96%;
        height: 88%;

        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
    }
}

.map__inner {
    position: relative;

    padding: 60px 90px;
}

.map__details {
    width: 480px;
}

.map__people {
    width: 115px;
    height: 90px;
    margin-bottom: 50px;
}

.map__description {
    font-size: 30px;
    font-weight: bold;

    display: inline-block;

    margin-bottom: 45px;
    padding-bottom: 5px;

    border-bottom: 1px solid #000;
}

.map__note {
    font-weight: bold;

    letter-spacing: .1em;
}

.map__image {
    width: 465px;
    height: 480px;
}

.map__number {
    font-family: $font-crimson;
    font-size: 100px;
    font-weight: bold;
    font-style: italic;
    line-height: 3.4;

    position: absolute;
    top: 130px;
    right: 170px;

    width: 335px;
    height: 335px;

    text-align: center;
    letter-spacing: .2em;

    border: 2px dashed $color-primary;
    border-radius: 50%;

    span {
        font-family: $base-font-family;
        font-size: 40px;
        font-style: normal;

        display: inline-block;

        margin-right: -.8em;
    }
}
