.member {
    position: relative;

    text-align: center;
}

.member__image {
    display: block;

    width: 240px;
    height: 240px;
    margin: 0 auto;

    border: 7px solid #fff;
    border-radius: 50%;
    box-shadow: 0 3px 35px 10px rgba(10,10,10,.1);

    object-fit: cover;
}

.member__name {
    font-size: 22px;

    margin-top: 20px;

    letter-spacing: .2em;
}

.member__role {
    font-size: 14px;

    margin-top: 10px;

    letter-spacing: .1em;

    color: $color-primary;
}

.member__view {
    font-family: $font-crimson;
    font-size: 14px;

    position: relative;

    display: inline-block;

    margin: 25px auto 0;
    padding: 4px 20px 4px 13px;

    text-align: center;
    text-align: center;
    letter-spacing: .12em;

    color: #fff;
    border-radius: 25px;
    background-color: #373735;

    &:after {
        position: absolute;
        top: 50%;
        right: 12px;

        display: block;

        width: 5px;
        height: 5px;

        content: '';
        transform: translateY(-50%) rotate(45deg);

        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
    }
}

.member__description {
    font-size: 14px;
    line-height: 2;

    margin-top: 30px;

    text-align: left;
}

.member__tag {
    font-size: 15px;

    display: inline-block;

    margin-top: 25px;
    padding: 2px 10px 0;

    color: #fff;
    border-radius: 25px;
    background-color: $color-primary;
}
