.popup {
    position: fixed;
    top: 50%;
    left: 50%;

    overflow-y: scroll;

    width: 40.2vw;
    height: 100%;
    padding: 40px 35px 50px;

    transform: translate(-50%, -50%);
    letter-spacing: .2em;

    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 15px 10px rgba(10,10,10,.1);

    @include max-screen($breakpoint-mobile) {
        position: absolute;

        width: 100%;
        height: auto;
        padding: 15px 18px;
    }
}

.popup__content {
    position: relative;
}

.popup__category {
    font-size: 15px;

    position: absolute;
    top: 20px;
    right: 20px;

    padding: 8px 12px 4px;

    border-radius: 25px;
    background-color: #fdd294;

    @include max-screen($breakpoint-mobile) {
        font-size: 11px;

        top: 10px;
        right: 10px;

        padding: 6px 10px 3px;
    }
}

.popup__image {
    width: 100%;
    height: 290px;

    object-fit: cover;
    object-position: top;
    @include max-screen($breakpoint-mobile) {
        height: 175px;
    }
}

.popup__details {
    position: relative;
}

.popup__tag {
    font-size: 17px;
    font-weight: bold;

    position: absolute;
    top: -17px;
    left: 15px;

    padding: 6px 12px 3px;

    color: #fff;
    border-radius: 25px;
    background-color: $color-primary;

    @include max-screen($breakpoint-mobile) {
        font-size: 13px;
    }
}

.popup__name-ja {
    font-size: 32px;
    font-weight: bold;

    display: inline-block;

    margin-top: 45px;

    @include max-screen($breakpoint-mobile) {
        font-size: 25px;

        margin-top: 25px;
    }
}

.popup__name-en {
    font-family: $font-crimson;
    font-size: 15px;
    font-style: italic;

    margin-left: 20px;

    @include max-screen($breakpoint-mobile) {
        font-size: 14px;
    }
}

.popup__role {
    font-size: 14px;

    margin-top: 15px;

    color: $color-primary;

    @include max-screen($breakpoint-mobile) {
        margin-top: 10px;
    }
}

.popup__message-label {
    font-family: $font-crimson;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;

    position: relative;

    display: block;

    margin: 25px 0;

    @include max-screen($breakpoint-mobile) {
        font-size: 14px;
    }

    &:after {
        position: absolute;
        top: 50%;
        right: 0;

        display: block;

        width: 77%;
        height: 1px;

        content: '';

        background-color: #000;

        @include max-screen($breakpoint-mobile) {
            width: 70%;
        }
    }
}

.popup__message {
    font-size: 14px;
    line-height: 1.7;
}


// OVERRIDES
.mfp-container {
    @include max-screen($breakpoint-mobile) {
        top: 40px;

        padding: 0 15px;
    }
}

.mfp-bg {
    background-color: #fff;
}

button.mfp-arrow {
    position: absolute;
    top: 50%;

    width: 4vw;
    height: 4vw;

    transform: translateY(-50%);

    border-radius: 50%;
    background: linear-gradient(90deg, rgba(255,150,0,1) 0%, rgba(252,186,92,1) 100%);

    @include max-screen($breakpoint-mobile) {
        top: auto;
        bottom: -100px;

        width: 42px;
        height: 42px;
    }

    &:before {
        position: absolute;
        top: 57%;
        left: 42%;

        display: block;

        width: 12px;
        height: 12px;
        margin: 0;

        content: '';
        transform: rotate(45deg) translate(-50%, -50%);

        opacity: 1;
        border: 0;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;

        @include max-screen($breakpoint-mobile) {
            width: 10px;
            height: 10px;
        }
    }
    &:after {
        font-family: $font-crimson;
        font-size: 17px;
        font-weight: bold;
        font-style: italic;

        position: absolute;
        top: auto;
        bottom: -30px;
        left: 50%;

        width: auto;
        height: auto;
        margin-top: 0;
        margin-left: 0;

        content: 'Back';
        transform: translateX(-50%);
        letter-spacing: .1em;

        border: 0;

        @include max-screen($breakpoint-mobile) {
            font-size: 14px;
        }
    }

    &.mfp-arrow-left {
        left: 15vw;

        @include max-screen($breakpoint-mobile) {
            left: 5vw;
        }
    }
    &.mfp-arrow-right {
        right: 15vw;

        @include max-screen($breakpoint-mobile) {
            right: 5vw;
        }

        &:before {
            right: 42%;
            left: auto;

            border: 0;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
        }
        &:after {
            content: 'Next';
        }
    }
}
