.requirement {
    position: relative;

    width: 46%;
    padding: 20px 10px 10px;

    box-shadow: 0 25px 50px -27px #ff9600;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        padding: 15px 10px 9px;
    }

    &:first-child {
        @include max-screen($breakpoint-mobile) {
            margin-bottom: 60px;
        }
    }
}

.requirement__bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: 10px;
    background-image: url(#{$path-image}/overview-bg.jpg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: 200%;

    filter: saturate(40%) brightness(1.1);
}

.requirement__top {
    position: relative;

    justify-content: initial;

    img {
        width: 33px;
        height: 75px;
        margin-top: -40px;
        margin-left: 20px;

        object-fit: contain;
        @include max-screen($breakpoint-mobile) {
            width: auto;
            height: 54px;
            margin-left: 15px;
        }
    }
}

.requirement__title {
    font-size: 22px;

    margin-left: 15px;

    letter-spacing: .2em;

    @include max-screen($breakpoint-mobile) {
        font-size: 15px;

        margin-left: 20px;
        margin-left: 10px;
    }
}

.requirement__tag {
    font-size: 17px;
    font-weight: bold;

    display: inline-block;

    margin-left: 15px;
    padding: 4px 8px 2px 13px;

    letter-spacing: .2em;

    color: #fff;
    border-radius: 25px;
    background-color: $color-primary;

    @include max-screen($breakpoint-mobile) {
        font-size: 12px;

        margin-left: 10px;
        padding: 6px 8px 4px 13px;
    }
}

.requirement__list {
    position: relative;

    margin-top: 15px;
    padding: 55px 35px 65px;

    list-style-type: none;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #fff;

    @include max-screen($breakpoint-mobile) {
        padding: 30px 17px 40px;
    }

    &:after {
        position: absolute;
        top: 0;
        left: 80px;

        display: inline-block;

        width: 0;
        height: 0;

        content: '';
        transform: translateX(-50%);

        border-width: 0 18px 18px 0;
        border-style: solid;
        border-color: transparent #f9e4c5 transparent transparent;

        filter: saturate(100%) brightness(1);
        @include max-screen($breakpoint-mobile) {
            left: 50px;
        }
    }
}

.requirement__item {
    &:not(:last-child) {
        margin-bottom: 35px;

        @include max-screen($breakpoint-mobile) {
            margin-bottom: 20px;
        }
    }
}

.requirement__item-title {
    font-size: 17px;
    font-weight: bold;

    margin-bottom: 25px;
    padding: 7px 0;

    text-align: center;

    border-radius: 7px;
    background-color: #f1f0f0;

    @include max-screen($breakpoint-mobile) {
        font-size: 12px;

        margin-bottom: 20px;
    }
}

.requirement__item-text {
    line-height: 2;

    @include max-screen($breakpoint-mobile) {
        font-size: 14px;
    }
}
