.sponsor {
    text-align: center;

    @include max-screen($breakpoint-mobile) {
        display: flex;

        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    img {
        width: 100%;
        max-width: 170px;
        height: 94px;
        margin: 0 auto;

        object-fit: contain;
        @include max-screen($breakpoint-mobile) {
            width: 45%;
            margin: 0;
        }
    }
}

.sponsor__details {
    @include max-screen($breakpoint-mobile) {
        width: 40%;

        text-align: left;
    }
}

.sponsor__name {
    font-size: 18px;
    font-weight: bold;

    margin-top: 50px;

    letter-spacing: .2em;

    @include max-screen($breakpoint-mobile) {
        font-size: 12px;

        margin-top: 0;
    }
}

.sponsor__view {
    font-family: $font-crimson;
    font-size: 14px;

    position: relative;

    display: inline-block;

    margin: 45px auto 0;
    padding: 5px 20px 2px 13px;

    transition: background-color $duration $easing;
    text-align: center;
    text-align: center;
    letter-spacing: .12em;

    color: #fff;
    border-radius: 25px;
    background-color: #373735;

    @include max-screen($breakpoint-mobile) {
        font-size: 11px;

        margin-top: 10px;
    }

    &:hover {
        background-color: $color-primary;
    }

    &:after {
        position: absolute;
        top: 50%;
        right: 12px;

        display: block;

        width: 7px;
        height: 7px;

        content: '';
        transform: translateY(-50%) rotate(45deg);

        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
    }
}
