.why {
    @include max-screen($breakpoint-mobile) {
        margin-top: -15px;
        padding: 0 15px;
    }
    @include max-screen(376px) {
        margin-top: -40px;
    }
}

.why__subtitle {
    font-size: 22px;
    font-weight: bold;

    position: relative;

    display: inline-block;

    margin-top: 50px;
    padding: 10px 40px;

    color: $color-primary;
    background-color: #fff;

    @include max-screen($breakpoint-mobile) {
        font-size: 15px;

        width: 100%;
        margin-top: 0;
    }

    &:after {
        position: absolute;
        bottom: -10px;
        left: 50%;

        display: inline-block;

        width: 0;
        height: 0;

        content: '';
        transform: translateX(-50%);

        border-width: 12px 8px 0 8px;
        border-style: solid;
        border-color: #fff transparent transparent transparent;

        @include max-screen($breakpoint-mobile) {
            bottom: -15px;

            border-width: 16px 12px 0 12px;
        }
    }
}

.why__title {
    font-size: 38px;

    position: relative;

    margin-top: 40px;

    letter-spacing: .2em;

    @include max-screen($breakpoint-mobile) {
        font-size: 25px;
    }

    span {
        font-size: 30px;

        display: inline-block;

        @include max-screen($breakpoint-mobile) {
            font-size: 21px;

            display: block;
        }

        &:first-of-type {
            margin-right: -20px;

            @include max-screen($breakpoint-mobile) {
                margin: 0;
                margin-bottom: 15px;
            }
        }
        &:last-of-type {
            margin-right: -1.5em;
            margin-left: -20px;

            @include max-screen($breakpoint-mobile) {
                margin: 0;
                margin-top: 25px;
            }
        }
    }

    &:after {
        position: absolute;
        top: 70px;
        left: 50%;

        width: 350px;
        height: 10px;

        content: '';
        transform: translateX(-50%);

        background-image: url(#{$path-image}/wave-border.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;

        @include max-screen($breakpoint-mobile) {
            top: 80px;

            width: 100%;
            height: 5px;
        }
    }
}

.why__content {
    margin-top: 150px;

    @include max-screen($breakpoint-mobile) {
        margin-top: 100px;
    }
}

.why__block {
    position: relative;

    width: 48%;
    padding: 0 45px 50px;

    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 25px 50px -27px $color-primary;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        padding: 0 20px 25px;

        border-radius: 10px;
    }

    &:after {
        position: absolute;
        bottom: -3px;
        left: 50%;

        width: 8px;
        height: 8px;

        content: '';
        transform: translateX(-50%);

        border-radius: 50%;
        background-color: #000;

        @include max-screen($breakpoint-mobile) {
            display: none;
        }
    }

    &:first-child {
        @include max-screen($breakpoint-mobile) {
            order: 1;
        }
    }
    &:nth-child(2) {
        @include max-screen($breakpoint-mobile) {
            margin-top: 55px;

            order: 3;
        }
    }

    p {
        font-size: 20px;
        font-weight: bold;

        position: relative;

        margin-bottom: 15px;
        padding: 15px 0;

        text-align: center;

        color: #fff;
        background-color: $color-primary;

        @include max-screen($breakpoint-mobile) {
            font-size: 15px;

            padding: 12px 20px;

            letter-spacing: .1em;
        }

        &:first-of-type {
            &:before {
                position: absolute;
                top: -10px;
                left: 50%;

                display: inline-block;

                width: 0;
                height: 0;

                content: '';
                transform: translateX(-50%);

                border-width: 0 10px 15px 10px;
                border-style: solid;
                border-color: transparent transparent $color-primary transparent;
            }
        }
    }
}

.why__block-image {
    position: relative;

    &:before {
        position: absolute;
        top: -60px;
        left: 50%;

        width: 140px;
        height: 140px;

        content: '';
        transform: translateX(-50%);

        border-radius: 50%;
        background-image: url(#{$path-image}/why-image-bg.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;

        @include max-screen($breakpoint-mobile) {
            top: -55px;

            width: 85px;
            height: 85px;
        }
    }

    &:after {
        position: absolute;
        top: -50px;
        left: 50%;

        width: 120px;
        height: 120px;

        content: '';
        transform: translateX(-50%);

        border: 1px solid $color-primary;
        border-radius: 50%;
        background-color: #fff;

        @include max-screen($breakpoint-mobile) {
            width: 75px;
            height: 75px;
        }
    }

    img {
        position: relative;
        z-index: 1;

        width: 40px;
        height: 85px;
        margin-top: -30px;

        object-fit: contain;
        @include max-screen($breakpoint-mobile) {
            width: 100%;
            height: 45px;
            margin-top: -55px;
        }
    }
}

.why__block-title {
    font-size: 20px;

    margin: 50px 0 30px;

    letter-spacing: .2em;

    @include max-screen($breakpoint-mobile) {
        font-size: 15px;

        margin-top: 30px;
    }

    span {
        color: $color-primary;
    }
}

.why__note {
    font-size: 20px;
    font-weight: bold;

    position: relative;

    margin: 55px auto 0;
    padding: 35px 83px 0;

    text-align: center;
    letter-spacing: .11em;

    border-top: 1px solid #000;

    @include max-screen($breakpoint-mobile) {
        font-size: 15px;

        padding: 5px 0 50px;

        border-top: 0;

        order: 2;
    }

    &:before,
    &:after {
        position: absolute;
        top: -55px;
        left: 0;

        display: block;

        width: 1px;
        height: 55px;

        content: '';

        background-color: #000;

        @include max-screen($breakpoint-mobile) {
            height: 40px;
        }
    }
    &:before {
        @include max-screen($breakpoint-mobile) {
            left: 50%;

            transform: translateX(-50%);
        }
    }
    &:after {
        right: 0;
        left: auto;

        @include max-screen($breakpoint-mobile) {
            top: auto;
            right: 0;
            bottom: 0;
            left: 50%;

            transform: translateX(-50%);
        }
    }
}
